@typeparam T

<div class="form-group row">
  <label for="@PropertyName" class="col-lg-2 col-form-label">@(Caption ?? PropertyName)</label>
  <div class="col-lg-10 input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="far fa-@Icon"></i>
      </span>
    </div>
    <select class="form-control" name="@PropertyName" id="@PropertyName" @onchange="@OnChanged">
      @foreach (T v in Enum.GetValues(typeof(T)).Cast<T>()) {
        if ((int)Enum.Parse(typeof(T), v.ToString()) == (int)(object)_value) {
          <option value="@Convert.ToInt32(v)" selected>@Enum.GetName(typeof(T), v)</option>
        } else {
          <option value="@Convert.ToInt32(v)">@Enum.GetName(typeof(T), v)</option>
        }
      }
    </select>
  </div>
</div>