@page "/"
@using TestFormRowComponents.Data

<h1>Customer details</h1>
<p>@_msg</p>

<div class="section">
  <div class="container mb-70 mt-4">
    <EditForm Model="@_customer" OnSubmit="@OnSubmit" class="k-form">
      <DataAnnotationsValidator />
      <div class="form-group row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
          <ValidationSummary />
        </div>
      </div>
      <FormRowText PropertyName="@nameof(Customer.Name)" @bind-Value="_customer.Name" Caption="Name" Icon="user" />
      <FormRowText PropertyName="@nameof(Customer.Email)" @bind-Value="_customer.Email" Icon="at" />
      <FormRowDropdownEnum PropertyName="@nameof(Customer.Frequency)" T="Frequency" @bind-Value="_frequency" Icon="wave-sine" />
      <div class="text-right">
        <input type="submit" class="btn btn-primary" value="Save" />
      </div>
    </EditForm>
  </div>
</div>

@code {

  readonly Customer _customer = new Customer {
    Name = "Jim",
    Email = "jim@spriggs.org",
    Frequency = Frequency.Monthly
  };

  private int _frequency;
  protected override void OnInitialized() => _frequency = (int)_customer.Frequency;

  private string _msg = "";

  private void OnSubmit() =>
    _msg = $"Customer name: {_customer.Name}, email: {_customer.Email}, frequency: {_customer.Frequency}";

}